# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/app/OurService.jsx


src/assets/workcategory/barber.png
src/assets/workcategory/construction.png
src/assets/workcategory/event.png
src/assets/workcategory/halwai.png
src/assets/workcategory/makeup.png
src/assets/workcategory/musician.png
src/assets/workcategory/painter.png
src/assets/workcategory/truck.png
src/App.jsx
src/app/work_category.jsx
