@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');




@tailwind base;
@tailwind components;
@tailwind utilities;
.font-cairo {
  font-family: 'Cairo', sans-serif !important;
}
@media (max-height: 600px) {
  .stack-on-short {
    flex-direction: column !important;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}
@keyframes slideDownFade {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slideDownFade {
  animation: slideDownFade 0.45s ease-out forwards;
}
